*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hero-section{
    background-color:#28282f;
    padding: 0px 50px;
}

ul {
    list-style:none;
}

.header .left-side img {
    width: 130px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px; 
}

.header .left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .social-icons img{
    width: 20px;
}

.header .right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .right-side ul a {
    color:white;
    text-decoration: none;
}

.header .right-side ul{
    display: inline-flex;
}

.header .right-side ul li{
    margin-right: 20px;
}

.header .social-icons {
    margin-left: 10px;
}

.btn-primary {
    background-color:#3e4560 ;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #ff1a1a;
    transition: ease-in-out 0.2s;
}